@font-face {
    font-family: "Roboto-Regular";
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(../assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Oswald";
    src: url(../assets/fonts/Oswald-VariableFont_wght.ttf);
}

body {
    margin: 0;
    font-family: var(--font-family-bold), Arial, Helvetica, sans-serif;
    background-color: #f4f4f9;
    color: var(--text-color);
    min-width: 350px;
    overflow-x: hidden;
}

  